@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-lime: #9EFF00;
  --dark-bg: #121212;
  --dark-surface: #1E1E1E;
  --dark-surface-2: #2D2D2D;
}

body {
  background-color: var(--dark-bg);
  color: #FFFFFF;
}
